img{
    border-radius: 200px;
    margin: 1px;
}

p{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

td{
    text-align: center;
    font-size: large;
    border: solid black 2px;
}

.linkek{
    background-color: red;
    padding: 15px;
    font-size: 30px;
}

header{
    text-align: center;
    font-size: 80px;
}

footer{
    font-size: large;
}

html{
    background-color: lightblue;
}

.button{
    border-radius: 50%;
    background-color: lightblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s;
}

.button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}