img{
    border-radius: 200px;
    margin: 5px;
}

p{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

td{
    text-align: center;
    font-size: large;
}

.linkek{
    background-color: red;
    padding: 15px;
}

header{
    text-align: center;
    font-size: 80px;
}
