img{
    border-radius: 200px;
    margin: 1px;
}

p{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

td{
    text-align: center;
    font-size: large;
    border: solid black 2px;
}

.linkek{
    background-color: red;
    padding: 15px;
    font-size: 30px;
}

header{
    text-align: center;
    font-size: 80px;
}

footer{
    font-size: large;
}

table{
    border: solid black 5px;
}