html{
    margin-left: 500px;
    margin-right: 500px;
    font-size: 23px;
}

p{
    font-size: 25px;
}

img{
    width: 75%;
}

.linkek{
    background-color: red;
    padding: 15px;
}

header{
    text-align: center;
    font-size: 80px;
    font-style: italic;
}

